@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    background: #293241;
    max-width: 100%;
    overflow-x: hidden;
  }

.welcome-img img{
    width: 100%;
  }
  
  .welcome {
    position: absolute;
    left: 50%;
    margin-bottom: 10%;
    transform: translate(0, -2em);
  }
  
  .welcome h2 {
    color: #fff;
    font-size: 400%;
    position: absolute;
    transform: translate(-50%, -50%);
  }
  
  .welcome h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px green;
  }
  
  .welcome h2:nth-child(2) {
    color: green;
    animation: animate 4s ease-in-out infinite;
  }
  
  @keyframes animate {
    0%,
    100% {
      clip-path: polygon(
        0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
      );
    }
  
    50% {
      clip-path: polygon(
        0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%
      );
    }
  }
  



.container { 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    margin: auto; 
    width: 100%;
} 
.main-heading {
  font-size: large;
}
.content { 
    position: relative; 
} 

.slideshow { 
    height: 100%; 
    overflow: hidden; 
    position: relative; 
} 
.slideshow-wrapper { 
    display: flex; 
    width: 500%; 
    height: 100%; 
    position: relative; 
 } 
.slide { 
    width: 100%; 
    height: 100%; 
} 
.slide-img { 
    width: 100%; 
    height: 100%; 
    object-fit: cover;  
} 

.slide-btn { 
    background-color: #bbb; 
    border-radius: 50%; 
    border: .2rem solid #d38800; 
    width: 1.2rem; 
    height: 1.2rem; 
    outline: none; 
    cursor: pointer; 
    position: absolute; 
    bottom: 3%; 
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 70; 
} 
.slide-btn-1 { 
    left: 45%; 
} 
.slide-btn-2 { 
    left: 50%; 
} 
.slide-btn-3 { 
    left: 55%; 
} 
.slide-btn-4 { 
    left: 60%; 
} 
.slide-btn-5 { 
  left: 65%; 
} 

.slide-btn-1:focus~.slideshow-wrapper { 
    animation: none; 
    left: 0; 
} 
.slide-btn-2:focus~.slideshow-wrapper { 
    animation: none; 
    left: -100%; 
} 
.slide-btn-3:focus~.slideshow-wrapper { 
    animation: none; 
    left: -200%; 
} 
.slide-btn-4:focus~.slideshow-wrapper { 
    animation: none; 
    left: -300%; 
} 
.slide-btn-5:focus~.slideshow-wrapper { 
  animation: none; 
  left: -400%; 
} 
.slide-btn:focus { 
    background-color: #308d46; 
} 
