@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #293241;
  max-width: 100%;
  overflow-x: hidden;
}

#yerassylphoto img {
  width: 20%; /* Adjust as needed */
  position: absolute;
  transform: translate(0, -1em); /* Adjust as needed */
}

.overall-introduction {
  width: 30%; /* Adjust as needed */
  height: 20%; /* Adjust as needed */
  margin-bottom: 15%; /* Adjust as needed */
}

#yerass {
  font-size: 3em; /* Adjust as needed */
  font-weight: 800;
}

#yerass2 {
  font-weight: 600;
}

.overall-introduction img {
  position: relative;
  width: 80%; /* Adjust as needed */
  height: auto;
  object-fit: cover;
  margin-right: 0%;
  transform: translate(10%, -1em); /* Adjust as needed */
}

.main-info-yerass {
  position: absolute;
  width: 100%;
  height: 100%;
  color: black;
  text-align: center;
  font-size: 2em; /* Adjust as needed */
  transform: translate(20%, -20%); /* Adjust as needed */
}

.welcome-img img {
  width: 100%;
}

.welcome {
  position: absolute;
  top: 10%;
  left: 50%;
}

.welcome h2 {
  color: #fff;
  font-size: 8em; /* Adjust as needed */
  position: absolute;
  transform: translate(-50%, -50%);
}

.welcome h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 0.1em black; /* Adjust as needed */
}

.welcome h2:nth-child(2) {
  color: black;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.description1 {
  display: flex;
  color: black;
  justify-content: center;
  font-size: 1.5em; /* Adjust as needed */
  transform: translateY(-1em); /* Adjust as needed */
}

article {
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -0.5em; /* Adjust as needed */
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 1em; /* Adjust as needed */
  box-shadow: none;
  background: #fff;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

article a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
}

article h2 {
  margin: 0 0 1em 0; /* Adjust as needed */
  font-family: "Bebas Neue", cursive;
  font-size: 1.5em; /* Adjust as needed */
  letter-spacing: 0.02em; /* Adjust as needed */
  color: var(--title-color);
  transition: color 0.3s ease-out;
}

figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

article img {
  max-width: 100%;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.article-body {
  padding: 1em; /* Adjust as needed */
}

article a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #28666e;
}

article a:focus {
  outline: 0.1em dotted #28666e; /* Adjust as needed */
}

article a .icon {
  min-width: 1em; /* Adjust as needed */
  width: 1em; /* Adjust as needed */
  height: 1em; /* Adjust as needed */
  margin-left: 0.2em; /* Adjust as needed */
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}

article:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #28666e;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1em 3.6em 0, rgba(0, 0, 0, 0.06) 0 0 0 0.1em;
}

*::before,
*::after {
  box-sizing: border-box;
}

.articles {
  display: grid;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 1em; /* Adjust as needed */
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr)); /* Adjust as needed */
  gap: 1em; /* Adjust as needed */
}

@media screen and (max-width: 60em) {
  article {
    container: card/inline-size;
  }
  .article-body p {
    display: none;
  }
}

@counter-style card (min-width: 23.75em) {
  .article-wrapper {
    display: grid;
    grid-template-columns: 5em 1fr; /* Adjust as needed */
    gap: 0.8em; }}



