@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #293241;
  max-width: 100%;
  overflow-x: hidden;
}
#yerassylphoto img{
  width: 43.75em;
  position: absolute;
  transform: translate(0, -34px);
}
.overall-introduction {
  width: 18.75em; 
  height: 12.5em;
  margin-bottom: 21.875em;
}
#yerass {
  font-size: 3.125em;
  font-weight: 800;
}
#yerass2 {
  font-weight: 600;
}


.overall-introduction img {
  position: relative;
  width: 93.75em;
  height: 32.8125em;
  object-fit: cover; 
  margin-right: 0%;
  transform: translate(43%, -2.125em);
}


.main-info-yerass {
  position: absolute;
  width: 100%;
  height: 100%;
  color: black; 
  text-align: center; 
  font-size: auto;
  transform: translate(21.875em, -21.875em);

}

.welcome-img img{
  width: 100%;
}

.welcome {
  position: absolute;
  top: 10%;
  left: 50%;
}

.welcome h2 {
  color: #fff;
  font-size: 8em;
  position: absolute;
  transform: translate(-50%, -50%);
}

.welcome h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px black;
}

.welcome h2:nth-child(2) {
  color: black;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}


.description1 {
    display: flex;
    color:black ;
    justify-content: center;
    font-size: larger;
    transform: translateY(-4.375em);
    margin: 0%;
}













article {
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -1.25em;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 1em;
  box-shadow: none;
  background: #fff;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

article a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
}

article h2 {
  margin: 0 0 1.125em 0;
  font-family: "Bebas Neue", cursive;
  font-size: 1.9rem;
  letter-spacing: 0.06em;
  color: var(--title-color);
  transition: color 0.3s ease-out;
}

figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

article img {
  max-width: 100%;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.article-body {
  padding: 1.5em;
}

article a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #28666e;
}

article a:focus {
  outline: 1px dotted #28666e;
}

article a .icon {
  min-width: 1.5em;
  width: 1.5em;
  height: 1.5em;
  margin-left: 0.3125em;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}

article:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #28666e;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}


*::before,
*::after {
  box-sizing: border-box;
}


.articles {
  display: grid;
  max-width: 75em;
  margin-inline: auto;
  padding-inline: 24px;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  gap: 24px;

}

@media screen and (max-width: 960px) {
  article {
    container: card/inline-size;
  }
  .article-body p {
    display: none;
  }
}

@counter-style card (min-width: 380px) {
  .article-wrapper {
    display: grid;
    grid-template-columns: 6.25em 1fr;
    gap: 1em;
  }
  .article-body {
    padding-left: 0;
  }
  figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  figure img {
    height: 100%;
    object-fit: cover;
  }
}


.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 0.0625em;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 0.0625em;
}

#article5 {
  position: relative;
  left: 12.5em;
  margin-top: 1.5em;
}

#article4 {
  position: relative;
  left: 12.5em;
  margin-top: 1.5em;
}


